{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "semi": "error",
        "no-debugger": "warn",
        "eqeqeq":"error",
        "curly": ["error", "multi"],
        "no-unused-vars": "error",
        "no-useless-constructor": "warn",
        "no-undef": "error",
        "func-call-spacing":["error", "never"],
        "no-mixed-spaces-and-tabs":"error",
        "no-trailing-spaces":"error",
        "object-curly-spacing": ["error", "always"],
        "no-const-assign": "error",
        "no-var": "error"
    }
}