<mat-toolbar class="form-header">Add new expense</mat-toolbar>
<form>
    <mat-form-field color="accent">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Expense name">
    </mat-form-field>
    <mat-form-field color="accent">
        <mat-label>Amount</mat-label>
        <input matInput type="number" min="0" placeholder="Amount">
    </mat-form-field>
</form>
<div class="button-container">
    <button mat-raised-button color="primary">Add Expense</button>
    <button mat-raised-button color="accent">Clear fields</button>
</div>