@import "../variables.scss";

.expenses-container{
    overflow:auto;
    position: absolute;
    top: 65px;
    bottom: 0;
    width: 100%;
    background-color: $accent;
    margin: 0px;
};
app-expense-form{
    width: 97%;
    position: absolute;
    top: 0px;
    margin-top: 5px;
    height: 90%;
    background:white;
}
app-expenses-list{
    width: 97%;
    position: absolute;
    top: 0px;
    margin-top: 5px;
    height: 90%;
    background: white;
}
mat-grid-tile{
    min-width: 250px;
}