.login-container{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #fa9a91;
}
.login-form,
.login-form.MuiContainer-maxWidthLg{
    background-color: #056571;
    max-width: 705px;
    top: 115px;
    position: relative;
}
.login-header{
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
.input-label,
.input-label.MuiFormLabel-root,
.input-label.MuiFormLabel-root.Mui-focused{
    color: white
}
.input-text,
.input-text.MuiInputBase-input{
    color:white
}
.input-underline,
.input-underline.MuiInput-underline:hover:not(.Mui-disabled):before,
.input-underline.MuiInput-underline:before,
.input-underline.MuiInput-underline:after{
    color: white;
    border-bottom: 0.5px solid white
}
.login-button,
.login-button.MuiButtonBase-root{
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    left: 546px;
    background-color: #414141;
    color: white
}
.login-button:hover,
.login-button.MuiButtonBase-root:hover{
    background-color: #222020;
}