.register-container{
    width: 100%;
    height: 100%;
    position: absolute;
    /* background-color: #fa9a91; */
}
.register-form,
.register-form.MuiContainer-maxWidthLg{
    background-color: #056571;
    max-width: 705px;
    top: 115px;
    position: relative;
}
.register-header{
    color: white
}
.input-label,
.input-label.MuiFormLabel-root,
.input-label.MuiFormLabel-root.Mui-focused{
    color: white
}
.input-text,
.input-text.MuiInputBase-input{
    color:white
}
.input-underline,
.input-underline.MuiInput-underline:hover:not(.Mui-disabled):before,
.input-underline.MuiInput-underline:before,
.input-underline.MuiInput-underline:after{
    color: white;
    border-bottom: 0.5px solid white
}
.icon{
    color: white
}
.reg-button,
.reg-button.MuiButtonBase-root{
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    left: 520px;
    background-color: #414141;
    color: white
}
.reg-button:hover,
.reg-button.MuiButtonBase-root:hover{
    background-color: #222020;
}
.error-message{
    color: red
}