.toolbar{
    background-color: #056571;
    color: white;
    position: absolute;
    overflow:auto;
    height: 65px;
}
.menu-button{
    margin-right: 15px;
}
.button-container{
    position: absolute;
    right: 0;
    margin-right: 24px;
}